.font-bacasime{
    font-family: 'Bacasime Antique';
}

.font-geologica{
    font-family: 'Geologica', sans-serif;
}

.font-nunito{
    font-family: 'Nunito', sans-serif;
}

.font-tangerine{
    font-family: 'Tangerine', cursive;
}